<div class="d-flex flex-grow-1 w-100">

  <nav class="col-md-2 d-none d-md-block bg-dark text-white d-flex flex-column py-3">
    <h5 class="text-center border-bottom border-white pb-2">Admin</h5>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/admin/productos" class="nav-link text-white">Gestión de Productos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/usuarios" class="nav-link text-white">Gestión de Usuarios</a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/pedidos" class="nav-link text-white">Gestión de Pedidos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/pagos" class="nav-link text-white">Gestión de Pagos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/carritos" class="nav-link text-white">Gestión de Carrito</a>
      </li>
    </ul>
  </nav>


  <main class="col px-4 py-4 overflow-auto">
    <router-outlet></router-outlet>
  </main>

</div>