<div class="container py-5">
  <div class="row g-4 justify-content-center">
    <div 
      class="col-12 col-sm-6 col-md-4 text-center" 
      *ngFor="let categoria of categorias"
    >
      <div 
        class="card categoria-card h-100 bg-dark text-white border-0 shadow-sm"
        (click)="verCategoria(categoria.nombre)"
      >
        <img 
          [src]="categoria.imagen" 
          [alt]="categoria.nombre" 
          class="card-img-top img-fluid rounded-top categoria-img"
        />
        <div class="card-body p-2">
          <p class="card-text fw-semibold small m-0">{{ categoria.nombre }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
